﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WVS Resource Manager Alpha 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="@Url.Content("~/Scripts/libs/jquery-2.1.4.js")"></script>
    <script src="@Url.Content("~/Scripts/libs/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/libs/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/libs/angular-ui/ui-bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/libs/angular-ui/ui-bootstrap-tpls.js")"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

    <script src="@Url.Content("~/Scripts/libs/dhtmlxgantt.js")"></script>
    <script src="http://export.dhtmlx.com/gantt/api.js"></script>  

    <script src="@Url.Content("~/Scripts/app/app.js")"></script>
    <script src="@Url.Content("~/Scripts/ganttConfig.js")"></script>

    <script src="@Url.Content("~/Scripts/app/controllers/myCtrl.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controllers/ganttCtrl.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controllers/resourceGanttCtrl.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controllers/roleGanttCtrl.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controllers/projectResourceGanttCtrl.js")"></script>

    <script src="@Url.Content("~/Scripts/app/factories/projectFactory.js")"></script>
    <script src="@Url.Content("~/Scripts/app/factories/taskFactory.js")"></script>
    <script src="@Url.Content("~/Scripts/app/factories/resourceFactory.js")"></script>
    <script src="@Url.Content("~/Scripts/app/factories/milestoneFactory.js")"></script>
    <script src="@Url.Content("~/Scripts/app/factories/roleFactory.js")"></script>
    <script src="@Url.Content("~/Scripts/app/factories/shared.js")"></script>
    
    <script src="@Url.Content("~/Scripts/app/directives/ganttDirective.js")"></script>

    
    <!-- relocated all custom init scripts to custom.js-->
    <script src="@Url.Content("~/Scripts/custom.js")"></script>

    <link href="@Url.Content("~/Content/bootstrapCerulean.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ui-bootstrap-csp.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/dhtmlxgantt/dhtmlxgantt_meadow.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/custom_styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/isteven-multi-select.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/includes/multiselect.js")"></script>      
       <script>
         $(".btn").prop('disabled', true);//disable buttons until page load
        
        //pass auth info to bootloader function
        window.onload = function () {

        //insecure authentication system
            var user = {
                'authrole': '@ViewBag.auth',
                'name': "@ViewBag.username"
            };
  
        startUp(user); 
        };
    </script>    

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <nav class="navbar navbar-default disableonview navbar-fixed-top" ng-show="!hideNavBar">
            <div class="container-fluid">
                
                <div class="navbar-header">
                    <a class="navbar-brand"><i class="fa fa-globe"></i>@ViewBag.username</a>
                    <div style="padding-left: 10px">
                        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>

                <div class="nav navbar-nav navbar-left hidden-xs hidden-sm">
                    <div class="dropdown">
                        <button id="dLabel" role="button" data-toggle="dropdown" class="btn btn-link navbar-btn" data-target="#">
                            Settings <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a data-toggle="modal" href="#" data-target="#exportModal">Export</a></li>                        
                            <li><a ng-click="toggleArchivedProjects()">{{toggleArchivedLabel}}</a></li>

                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Themes</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="changeCSS('@Url.Content("~/Content/bootstrapCerulean.css")', 0);">Cerulean</a></li>
                                    <li><a href="#" ng-click="changeCSS('@Url.Content("~/Content/bootstrapSandstone.css")', 0);">Sandstone</a></li>
                                    <li><a href="#" ng-click="changeCSS('@Url.Content("~/Content/bootstrapUnited.css")', 0);">United</a></li>
                                    <li><a href="#" ng-click="changeCSS('@Url.Content("~/Content/bootstrapSuperhero.css")', 0);">Superhero</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="nav navbar-nav navbar-left">
                    <button type="button" class="btn btn-link navbar-btn" ng-click="expandCollapseAll('expand')">Expand All</button>
                    <button type="button" class="btn btn-link navbar-btn" ng-click="expandCollapseAll('collapse')">Collapse All</button>
                    <button class="btn btn-link navbar-btn" id="previewCtrl" popover-trigger="mouseenter" popover-placement="right" popover="{{previewmsg.content}}" popover-title="{{previewmsg.title}}" ng-click="togglePreview()"><i class="fa fa-cog"></i> Preview ({{previewOnOrOff.text}})</button>

                </div>

                <div id="ctrlpanel" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><button type="button" class="btn btn-link navbar-btn" onclick="projectGantt.createTask({text:'New Project',type:'project'}, 0);">Add Project</button></li>
                        <li><button type="button" class="btn btn-link navbar-btn" data-toggle="modal" data-target="#updateResource">Manage Resources</button></li>
                        <li><button type="button" class="btn btn-link navbar-btn" data-toggle="modal" data-target="#newResource">Add Resource</button></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div  id="loadingScreen" class="container-fluid body-content">
        <div align="center"><i class="fa fa-cog fa-5x fa-spin"></i><br>Loading...</div>
    </div>
    <div id="mainContent" style="display:none" class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer><p>&copy; @DateTime.Now.Year - WorldView Solutions</p></footer>
    </div>
</body>
</html>
