<body style="padding-top:70px" ng-controller="myCtrl">        
     <!---------------------------------------- Export Modal -------------------------------------------------->
     <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header" id="export">Export Data</div>
                 <div class="modal-body">
                     <label for="startExp">Start:</label>
                     <input type="date" id="startExp" name="input" ng-model="expstartDate.value"
                            placeholder="yyyy-MM-dd" min="1900-01-01" max="2020-12-31" required />
                     <label for="endExp">End:</label>
                     <input type="date" id="endExp" name="input" ng-model="expendDate.value"
                            placeholder="yyyy-MM-dd" min="1900-01-01" max="2020-12-31" required />

                     <div class="dropdown">
                         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                             Export
                             <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu">
                             <li><a href="#" ng-click="exportData('iCal')">iCal</a></li>
                             <li><a href="#" ng-click="exportData('PDF')">PDF</a></li>
                         </ul>
                     </div>
                 </div>

             </div>
         </div>
     </div>

    <!-------------------------------------------- Add Resource Model --------------------------------------------------->
    <div class="modal fade" id="newResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="addResource({'FirstName':NewResourceFirstName,'LastName':NewResourceLastName, 'Role': 'asdf', 'Roles':selectedRoles})">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" class="form-control" ng-model="NewResourceFirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" ng-model="NewResourceLastName" required>
                        </div>
                        <select ng-model="selectedRole"
                                ng-options="role.Name for role in roles"
                                ng-change="addNewRole()"
                                ng-show="!hideNewRoleField">
                        </select>
                        <div class="form-group" ng-show="hideNewRoleField">
                            <label for="newRole">Create New Role</label>
                            <input type="text" class="form-control" ng-model="newRoleName">
                        </div>
                        <a ng-show="hideNewRoleField" class="btn btn-xs btn-success" ng-click="addNewRole()">Create and Add</a>
                        <a ng-click="toggleNewRoleField()" class="btn btn-xs btn-warning">{{newRoleButtonText}}</a>

                        <div class="form-group">
                            <label for="Role">Roles Attached to: {{NewResourceFirstName}} {{NewResourceLastName}} </label>
                            <ul>
                                <li ng-repeat="role in selectedRoles">{{role.Name}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Resource</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------- Update Resource ------------------------------------------------------>
    <div class="modal fade" id="updateResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Resource</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="updateResource(resource)">
                        <div class="form-group">
                            <label for="projectselect">Select a resource to edit</label>

                            <select ng-model="selectedResource"
                                    ng-options="resource.Name for resource in resource_tree"
                                    ng-change="manageResource()"></select>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" ng-model="first">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" ng-model="last">
                            </div>
                            <div class="form-group">
                                <label for="Role">Roles Attached to: {{first}} {{last}}   </label><br />
                                <a class="btn btn-xs btn-success" ng-click="addRoleToResource()">Add Role</a>
                                <select ng-model="selectedRole"
                                        ng-options="role.Name for role in roles"></select>
                                <div class="form-group" ng-show="hideNewRoleField">
                                    <label for="newRole">Create New Role</label>
                                    <input type="text" class="form-control" ng-model="newRoleName">
                                </div>
                                <a ng-show="hideNewRoleField" class="btn btn-xs btn-success" ng-click="updateNewRole()">Create and Add</a>
                                <a ng-click="toggleNewRoleField()" class="btn btn-xs btn-warning">{{newRoleButtonText}}</a>
                                <ul>
                                    <li ng-repeat="role in selectedResource.Roles">{{role.Name}}   <a class="btn btn-xs" ng-click="removeRoleFromResource(role)">   Remove</a></li>
                                </ul>
                            </div>
                        </div>

                        <div ng-show="selectedResource.UserToTasks.length > 0">
                            <label>Set Task Percentage</label>
                            <div>
                                <label>Select Task</label>
                                <select ng-model="selectedTask"
                                        ng-options="getTaskName(task.TaskId) for task in selectedResource.UserToTasks"></select>
                            </div>

                            <div ng-show="selectedTask">
                                <label>Set Percentage</label>
                                <input type="text" class="form-control" ng-model="setPercentage"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" ng-click="closeWithoutSaving()" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------- Update Task Percentages -------------------------------------------------->
    <div class="modal fade" id="updateUserToTaskPercent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" id="taskPercentHeader"></div>
                        <div class="modal-body">
                            <form onsubmit="angular.element(document.getElementById('mainView')).scope().updatePercentage(document.getElementsByClassName('percents'));" id="taskPercentForm"></form>
                            <form onsubmit="angular.element(document.getElementById('mainView')).scope().addPercentage(document.getElementsByClassName('percents'));" id="taskAddPercentForm"></form>
                        </div>
                    </div>
                </div>
            </div>

    <!-------------------------------------------------------Tabs---------------------------------------------------------------->
     <div id='mainView' class="well">

        <ul class="nav nav-pills" style="padding-bottom: 10px">
            <li class="active"><a data-toggle="pill" href="#ctrl2" ng-click="setActiveTab('projectGantt')">Projects</a></li>
            <li><a data-toggle="pill" href="#ctrl1" ng-click="setActiveTab('resourceGantt')">Resources</a></li>
            <li><a data-toggle="pill" href="#ctrl3" ng-click="setActiveTab('roleGantt')">Roles</a></li>
            <li><a data-toggle="pill" href="#ctrl4" ng-click="setActiveTab('projectResourceGantt')">Project/Resources</a></li>

            <li class="pull-right"><button type="button" onclick="setScaleYear()" class=" btn btn-default pull-right">Year</button></li>
            <li class="pull-right"><button type="button" onclick="setScaleMonth()" class=" btn btn-default pull-right">Month</button></li>
            <li class="pull-right"><button type="button" onclick="setScaleWeek()" class="btn btn-default pull-right">Week</button></li>
            <li class="pull-right"><button type="button" onclick="setScaleDay()" class="btn btn-default pull-right">Day</button></li>
        </ul>

        <div class="btn-group pull-right col-md-offset-4" role="group"></div>

        <div class="tab-content">
            <!--Timeline view using Gantt chart-->
            <div id="ctrl2" class="tab-pane fade in active" heading="Timeline View" ng-controller="ganttCtrl">
                <div id="project_gantt" style='width:100%; height:600px;'></div>
            </div>
            <div id="ctrl1" class="tab-pane fade" heading="Resource View" ng-controller="resourceGanttCtrl">
                <div id="resource_gantt" style="width:100%; height:600px;"></div>
            </div>
            <div id="ctrl3" class="tab-pane fade" heading="Role View" ng-controller="roleGanttCtrl">
                <div id="role_gantt" style="width:100%; height:600px;"></div>
            </div>
            <div id="ctrl4" class="tab-pane fade" heading="Project/Resource View" ng-controller="projectResourceGanttCtrl">
                <div id="project_resource_gantt" style="width:100%; height:600px;"></div>
                </div>
        </div>
    </div>
</body>

<!--Close Modal after form submit-->
<script>
    $('#newResource').submit(function (event) {
        $(this).modal('hide');
    })
    $('#updateResource').submit(function (event) {
        $(this).modal('hide');
    })
    $('#updateUserToTaskPercent').submit(function (event) {
        $(this).modal('hide');
    })
</script>
