﻿ twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}


.gantt_link_point {
  display:none;
  
}
.dhx_data_table.folder .dhx_matrix_cell .dhx_matrix_scell.folder{
  color: #ffffff;
  background-color: #428bca;
  
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
<!-- hides unneeded but required dhtmlx secheduler buttons-->
[name~=timeline] {
display:none;
}	
#usernamepassfield {
background-color: #428bca;
padding-top: 40px;
padding-bottom: 10px;
border-radius:5px;
}
#loginform {background-color:#fff;}
#labelsignin { color:#fff;}
li {cursor: pointer;}
.dhx_matrix_scell.folder {
color: #ffffff;
background-color: #428bca;
}
.dhx_scell_expand {
content:'<i class="fa fa-folder-o"></i>';
}

<!-- add font awesome include -->
.gantt_task_line.task-collapsed {
height: 4px;
opacity: 0.45;
}

.gantt_task_line.gantt_project.task-collapsed .gantt_task_content {
display: none;
}

.gantt_row.task-parent {
font-weight: bold;
}
.gantt_task line {
background-color: black;
}
#project_gantt,#resource_gantt,#role_gantt,#project_resource_gantt {
    height:70vh !important;
}
.gantt_link_control div {
display:none !important;
}
.gantt_task_line.task-collapsed {
    height: 4px;
    opacity: 0.45;
}

.gantt_task_line.gantt_project.task-collapsed .gantt_task_content {
    display: none;
}

.gantt_row.task-parent {
    font-weight: bold;
}

.gantt_task_line.gantt_resource.task-collapsed{
    opacity:0;
}

.gantt_task_line.resource_preview{
    background-color:#c7d8f7;
    border:1px solid #7ba3ed;
}
.gantt_task_line.contention{
    background-color:red;
    border:1px solid #7ba3ed;
}
.gantt_task_line .gantt_task_progress_drag {
  display:none !important;
}